[workspace]
name = "pycpt"
authors = ["IRI <pycpt-help@iri.columbia.edu>"]
channels = [
  "iri-nextgen",
  "conda-forge",
]
platforms = ["linux-64", "win-64", "osx-64"]
preview = ["pixi-build"]

[dependencies]
cptio = {path = "./cpt-io"}
pycpt = {path = "./pycpt"}

# Indirect. statsmodels.distributions fails to import scipy 1.16
scipy = "1.14.*" 

[target.linux-64.dependencies]
# Indirect dependencies. CPT doesn't work with newer
# versions of the gcc runtime.
libgcc-ng = "13.2.*"
libgfortran5 = "13.2.*"

[feature.dev.dependencies]
pytest = "*"

mypy = "*"
pandas-stubs = "*"
scipy-stubs = "*"
types-requests = "*"
types-psutil = "*"

[environments]
default = {features = ["dev"], solve-group = "prod"}
prod = {features = [], solve-group = "prod"}
