{
    "MOS": "CCA",
    "cpt_args": {
        "cca_modes": [
            1,
            6
        ],
        "crossvalidation_window": 5,
        "drymask": false,
        "scree": true,
        "synchronous_predictors": true,
        "tailoring": "None",
        "transform_predictand": "Empirical",
        "validation": "crossvalidation",
        "x_eof_modes": [
            1,
            8
        ],
        "y_eof_modes": [
            1,
            6
        ]
    },
    "cptcore_version": "1.0.6",
    "cptdl_version": "1.0.3",
    "cptextras_version": "1.0.2",
    "cptio_version": "1.0.1",
    "download_args": {
        "fdate": "2022-05-01",
        "filetype": "cptv10.tsv",
        "final_year": 2010,
        "first_year": 1982,
        "lead_high": 3.5,
        "lead_low": 1.5,
        "predictand_extent": {
            "east": 90,
            "north": 30,
            "south": 5,
            "west": 70
        },
        "predictor_extent": {
            "east": 100,
            "north": 35,
            "south": 0,
            "west": 60
        },
        "target": "Jun-Aug"
    },
    "predictand": "UCSB.PRCP",
    "predictors": [
        "CFSv2.PRCP",
        "GEOSS2S.PRCP"
    ]
}