{
    "MOS": "CCA",
    "cpt_args": {
        "cca_modes": [
            1,
            5
        ],
        "crossvalidation_window": 5,
        "synchronous_predictors": true,
        "tailoring": "None",
        "transform_predictand": "None",
        "x_eof_modes": [
            1,
            5
        ],
        "y_eof_modes": [
            1,
            5
        ]
    },
    "cptcore_version": "1.0.6",
    "cptdl_version": "1.0.3",
    "cptextras_version": "1.0.1",
    "cptio_version": "1.0.1",
    "download_args": {
        "fdate": "2022-05-01",
        "filetype": "cptv10.tsv",
        "final_year": 2016,
        "first_year": 1993,
        "lead_high": 3.5,
        "lead_low": 1.5,
        "predictand_extent": {
            "east": 80,
            "north": 45,
            "south": -45,
            "west": -20
        },
        "predictor_extent": {
            "east": 80,
            "north": 45,
            "south": -45,
            "west": -20
        },
        "target": "Jun-Aug"
    },
    "predictand": "UCSB.PRCP",
    "predictors": [
        "SEAS5.PRCP",
        "SPEAR.PRCP",
        "CanSIPSIC3.PRCP"
    ]
}