on:
  pull_request:
  workflow_dispatch:
jobs:
  test:
    name: test-pycpt
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3

      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.55.0
          cache: true

      - run: pixi run pytest
